.all-members{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100dvh;
    padding: 10px;
}

.all-members > .member{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.all-members > .member > .left > .member-img > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: var(--et-color-primary) 2px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.all-members > #leonardo-eurotech > .left > .member-img > img{
    border-radius: 50%;
    box-shadow: var(--et-color-primary) 2px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url(../../assets/photos/leonardo-eurotech.jpg);
    background-size: cover;
    background-position: center;
}

.all-members > .member > .right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.all-members > .member > .right > .member-name{
    color: var(--et-color-primary);
    font-size: 2rem;
    font-weight: 800;
}

.all-members > .member > .right > .member-name > span{
    color: var(--et-color-secondary);
    background-color: var(--et-color-primary);
    padding: 3px;
    border-radius: 5px;
}

.all-members > .member > .right > .member-links{
    display: flex;
    gap: 20px;
}

.all-members > .member > .right > .member-links > a > i{
    color: var(--et-color-secondary);
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
    background-color: var(--et-color-primary);
    border-radius: 50%;
    padding: 18px;
    cursor: pointer;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.all-members > .member > .right > .member-links > a{
    text-decoration: none;
    border-radius: 50%;
}

.all-members > .member > .right > .member-links > a > i:hover{
    transform: translateY(-2px);
}
