.all-members{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: calc(100dvh - 110px);
    padding: 10px;
}

.all-members > .member{
    display: grid;
    align-items: center;
    gap: 1.5rem;
}

.all-members > .member > .up{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.all-members > .member > .up > .member-img > img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: var(--et-color-primary) 2px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.all-members > #leonardo-eurotech > .up > .member-img > img{
    border-radius: 50%;
    box-shadow: var(--et-color-primary) 2px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-image: url(../../assets/photos/leonardo-eurotech.jpg);
    background-size: cover;
    background-position: center;
}

.all-members > .member > .down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.all-members > .member > .up > .member-name{
    color: var(--et-color-primary);
    font-size: 2rem;
    font-weight: 800;
}

.all-members > .member > .up > .member-name > span{
    color: var(--et-color-secondary);
    background-color: var(--et-color-primary);
    padding: 3px;
    border-radius: 5px;
}

.all-members > .member > .down > .member-links{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
}

.all-members > .member > .down > .member-links > a > i{
    color: var(--et-color-secondary);
    width: 60px;
    height: 60px;
    font-size: 1.6rem;
    background-color: var(--et-color-primary);
    border-radius: 50%;
    padding: 18px;
    cursor: pointer;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.all-members > .member > .down > .member-links > a{
    text-decoration: none;
    border-radius: 50%;
}

.all-members > .member > .down > .member-links > a > i:hover{
    transform: translateY(-2px);
}

.all-members > .section-video-btn {
    background-color: var(--et-color-secondary);
    color: var(--et-color-primary);
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px 20px;
    font-size: 2rem;
    border-radius: 5px;
    transform: translateX(-50%);
    animation: float 3s ease-in-out infinite;
    margin-bottom: 20px;
    text-decoration: none;
}

@keyframes float {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -10px);
    }
}