.et-footer{
    font-family: var(--et-font-family-base);
    width: 100%;
    color: var(--et-color-neutral-40);
    display: block;

}

#footer-copyright{
   display: flex; 
   justify-content: center;
   align-items: center;
   background-color: var(--et-color-neutral-0);
   font-size: 0.9rem;
   padding: 1.5rem;
   height: var(--et-footer-size);
   font-weight: 400;
}