.main-title{
    height: 90px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title > .title{
    color: var(--et-color-primary);
    font-size: 3.5rem;
    font-weight: 800;
}

.main-title > .title > span{
    color: var(--et-color-secondary);
    font-size: 4rem;
    font-weight: 800;
}

.main-title > .logo-title{
    display: flex;
    align-items: center;
}

.main-title > .logo-title img{
    width: 80px;
    height: 90px;
}

.subtitle{
    color: var(--et-color-primary);
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.main-section{
    background-image: url(../../assets/photos/teste.avif);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100dvh;
}